{% extends 'Admin_Helpdesk.html' %}

{%load static %}
{% load humanize %}

{% block content %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-custom">
        <li class="breadcrumb-item"><a href="/trang-chu">Trang Chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page"><span>Cập Nhật Face ID</span></li>
      </ol>
    </nav>
    <div class="content-wrapper ">
      <div class="row grid-margin">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="top-title">
                <h4 class="card-title card-title-edit">CẬP NHẬT FACE ID</h4>
                <div>   
                  <select id="cameraSelect"></select>     
                  <button type="button" class="btn btn-success btn-icon-text save-faceid" id="btn-iphone">
                    <i class="mdi mdi-camera-front-variant btn-icon-prepend"></i> 
                    CAMERA                                                   
                  </button>        
                  <button type="button" class="btn btn-success btn-icon-text save-faceid" id="save-faceid">
                    <i class="mdi mdi-camera-front-variant btn-icon-prepend"></i> 
                    LƯU FACE-ID                                                   
                  </button>
                  <button type="button" class="btn btn-success btn-icon-text exportUser" id="export">
                    <i class="mdi mdi-file-export btn-icon-prepend"></i>      
                    XUẤT EXCEL                                              
                  </button>
                  <button type="button" class="btn btn-danger btn-icon-text showUser" id="showall">
                    <i class="ti-shift-right btn-icon-prepend"></i>                                                    
                    HIỂN THỊ CỘT
                  </button>                
                </div>
              </div>
    
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    {% comment %} <div class="table-responsive ai-faceid-center"> {% endcomment %}
                    <div class="table-responsive">
                        {% comment %} <video id="video-stream" width="640" height="480" autoplay></video> {% endcomment %}
                        {% comment %} <select id="cameraSelect"></select> {% endcomment %}
                        <video id="video" width="640" height="480" autoplay></video>
                        {% comment %} <canvas id="canvas" width="640" height="480"></canvas> {% endcomment %}
                    </div>
                     <!-- Modal spinners -->
                      {% comment %} <div class="modal fade" id="spinnersModal" tabindex="-1" role="dialog" aria-labelledby="spinnersModallabel">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content_spinners">
                            
                            <div class="modal-body_spinners">
                              <div class="spinner-grow text-muted"></div>
                              <div class="spinner-grow text-primary"></div>
                              <div class="spinner-grow text-success"></div>
                              <div class="spinner-grow text-info"></div>
                              <div class="spinner-grow text-warning"></div>
                              <div class="spinner-grow text-danger"></div>
                              <div class="spinner-grow text-secondary"></div>
                              <div class="spinner-grow text-dark"></div>
                              <div class="spinner-grow text-light"></div>
                            </div>
                          </div>
                        </div>
                      </div> {% endcomment %}
                    <!-- Modal spinners -->                                 
                  </div>
                </div>
              </div>
            </div>
          </div>
        
    </div>
    <script src="{% static 'js/OpenCV.js' %}"></script>
    {% comment %} <script>     
        // Sử dụng navigator để truy cập camera  {% endcomment %}
       {% comment %} navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                // Gán stream của camera vào thẻ video
                var video = document.getElementById('video-stream');
                video.srcObject = stream;
                video.onloadedmetadata = function (e) {
                    video.play();
                };
            })
            .catch(function (err) {
                console.log("An error occurred: " + err);
            }); {% endcomment %}         
    {% comment %} </script> {% endcomment %}
{% endblock %}