{% extends 'Admin_Helpdesk.html' %}

{%load static %}
{% load humanize %}

{% block content %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-custom">
        <li class="breadcrumb-item"><a href="/trang-chu">Trang Chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page"><span>Danh Sách Files </span></li>
      </ol>
    </nav>
    <div class="content-wrapper ">
      <div class="row grid-margin">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="top-title">
                <h4 class="card-title card-title-edit">DANH SÁCH FILES</h4>
                
                <div>
                  <button type="button" class="btn btn-danger btn-icon-text showUser" id="showall">
                    <i class="ti-shift-right btn-icon-prepend"></i>                                                    
                    HIỂN THỊ CỘT
                  </button>
                  {% comment %} <button type="button" class="btn btn-danger btn-icon-text addGroup" id="addGroup">
                  <i class="ti-files btn-icon-prepend"></i>                                                    
                  TẠO File
                </button> {% endcomment %}
                </div>
              </div>
              
              {% comment %} <p class="card-description">A basic data list T001</p> {% endcomment %}
              {% comment %} <div id="js-grid" class="pt-3"></div> {% endcomment %}

              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    {% comment %} <h4 class="card-title">Hoverable Table</h4>
                    <p class="card-description">
                      Add class <code>.table-hover</code>
                    </p> {% endcomment %}
                    <div class="table-responsive">

                        <table id="product-table" class="table table-hover">
                            <thead>
                              <tr class="tr-table">
                                <th>#</th>
                                <th>MÃ YÊU CẦU</th>
                                <th>ĐƯỜNG DẪN</th>                                                       
                                <th>NGƯỜI TẠO</th>
                                <th id="toggle-column" class="hidden-column">NGÀY TẠO</th>
                                <th id="toggle-column" class="hidden-column">GIỜ TẠO</th>
                                <th>TÌNH TRẠNG</th>
                                <th>CHỨC NĂNG</th>
                              </tr>
                              <tr>
                                {% comment %} Search box {% endcomment %}
                                <th>
                                  <input type="text" class="form-control" id="search-AttachmentID" name="search-AttachmentID" placeholder="#">
                                </th>
                                <th>
                                  <input type="text" class="form-control" id="search-TicketID" name="search-TicketID" placeholder="Mã Yêu Cầu">
                                </th>
                                <th>
                                  <input type="text" class="form-control" id="search-AttachmentName" name="search-AttachmentName"  placeholder="Tên Nhóm">
                                </th>
                                <th>
                                  <input type="text" class="form-control" id="search-AttachmentCreate" name="search-AttachmentCreate"  placeholder="Người Tạo">
                                </th>                               
                                <th id="toggle-column" class="hidden-column">
                                  <input type="date" class="form-control" id="search-AttachmentDate" name="search-AttachmentDate" >
                                </th>
                                <th id="toggle-column" class="hidden-column">
                                  <input type="time" class="form-control" id="search-AttachmentTime" name="search-AttachmentTime">
                                </th>
                                <th>
                                  <select class="db-status">
                                    <option value="">Tất Cả</option>
                                    <option value="true">Kích Hoạt</option>
                                    <option value="false">Không Kích Hoạt</option>
                                  </select>
                                </th>
                                {% comment %} Search box {% endcomment %}
                                <th>
                                  <button type="button" class="btn btn-danger btn-icon-text btn-remove-filter" id="">
                                    <i class="ti-files btn-icon-prepend"></i>                                                    
                                    XÓA FILTER
                                  </button>
                                  
                                  <!-- Modal Create Group -->
                                  {% comment %} <div class="modal fade modal-hidden" id="CreateAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="CreateAttachmentModallabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header header-modal">
                                          <h5 class="modal-title title-modal" id="CreateAttachmentModalLabel"><i class="ti-write"></i> TẠO MỚI NHÓM</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i class="ti-close"></i>
                                          </button>
                                        </div>
                                        <form id="CreateAttachmentForm" enctype="multipart/form-data">
                                          {% csrf_token %}
                                          <div class="modal-body modal-body-custom">
                                            <div class="form-group">
                                              <label for="name">Tên Nhóm <b class="require-form">*</b></label>
                                              <input type="text" class="form-control" id="input_group_name" name="name" placeholder="Tên Nhóm" required>
                                            </div>                                        
                                          </div>                                         
                                          <div class="modal-footer modal-footer-custom">                                         
                                            <button type="button" class="btn btn-outline-danger btn-fw btn-MD" id="create-attachment-button"><i class="ti-save btn-icon-prepen"></i> LƯU THÔNG TIN</button>
                                          </div>
                                        </form>
                                      </div>
                                    </div>
                                  </div> {% endcomment %}
                                  <!-- Modal Create Group  -->   
                                  
                                  <!-- Modal Update Group -->
                                  <div class="modal fade modal-hidden" id="UpdateAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="UpdateAttachmentModallabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header header-modal">
                                          <h5 class="modal-title title-modal" id="UpdateAttachmentModalLabel"><i class="ti-write"></i> CẬP NHẬT NHÓM</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i class="ti-close"></i>
                                          </button>
                                        </div>
                                        <form id="UpdateAttachmentForm" enctype="multipart/form-data">
                                          {% csrf_token %}
                                          <div class="modal-body modal-body-custom">
                                            <div class="form-group">
                                                <label for="name">Mã Đính Kèm <b class="require-form">*</b></label>
                                                <input type="text" class="form-control" id="input_attach_id" name="id" readonly required>
                                            </div>
                                            <div class="form-group">
                                              <label for="name">Tên Đính Kèm<b class="require-form">*</b></label>
                                              <input type="text" class="form-control" id="input_attach_name" name="name" required>
                                            </div>   
                                            <div class="form-group">
                                                <label for="name">Trạng Thái <b class="require-form">*</b></label>
                                                <select class="form-select input_status" aria-label="Default select example" id="input_attach_status" name="type" readonly required>
                                                  <option value="true">Kích Hoạt</option>
                                                  <option value="false">Không Kích Hoạt</option>
                                                </select>
                                              </div>                                     
                                          </div>                                        
                                          <div class="modal-footer modal-footer-custom">                                         
                                            <button type="button" class="btn btn-outline-danger btn-fw btn-MD" id="Update-attachment-button"><i class="ti-save btn-icon-prepen"></i> LƯU THÔNG TIN</button>
                                          </div>
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- Modal Update Group  -->                                   
                                </th>                                                           
                              </tr>                               
                            </thead>                          
                            <tbody>
                            </tbody>                          
                          </table>                    
                    </div>
                    <ul class="pagination" id="pagination"></ul>                                    
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>

{% endblock %}