<?xml version="1.0" encoding="UTF-8"?>
<configuration>
     <system.webServer>
        <handlers accessPolicy="Read, Write, Execute, Source, Script" />
        <directoryBrowse enabled="true" />
        <modules runAllManagedModulesForAllRequests="true" />
        <rewrite>
            <rules>
                <rule name="HTTPS Redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
                </rule>
            </rules>
        </rewrite>
        <!-- <handlers >
            <add name="SDP" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\Django_Service_Desk-main\.Web_Django\Scripts\python.exe|C:\inetpub\wwwroot\Django_Service_Desk-main\.Web_Django\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers> -->
    </system.webServer>
    <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <!-- <add key="WSGI_HANDLER" value="my_project.wsgi.application" /> -->
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\Django_Service_Desk-main\my_project" />
        <add key="DJANGO_SETTINGS_MODULE" value="my_project.settings" />
    </appSettings>
</configuration>
