<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embedded Power BI Report</title>
</head>
<body>

<!-- Nhúng báo cáo Power BI bằng thẻ iframe -->
<iframe title="Dashboard_Histaff" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=95bdf203-0526-4f8c-9bac-30b79da6b968&autoAuth=true&ctid=c43d3f81-f57a-48cc-8b07-74b39935d876" frameborder="0" allowFullScreen="true"></iframe>

</body>
</html>


{% comment %} <script src="https://microsoft.github.io/PowerBI-JavaScript/demo/node_modules/powerbi-client/dist/powerbi.js"></script> {% endcomment %}
