{%load static %}
{% load humanize %}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>POS Order Page</title>
	<link rel="stylesheet" href="style.css">
	{% comment %} CSS {% endcomment %}
	<link rel="stylesheet" href="{% static 'css/order-pos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Sweetalert2/Css/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="{% static 'star_admin/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'uicons/css/uicons-thin-rounded.css' %}">
    <link rel="stylesheet" href="{% static 'css/_buttons.scss' %}">
    <link rel="stylesheet" href="{% static 'css/_reboot.scss' %}">
    <link rel="stylesheet" href="{% static 'Sweetalert2/Css/sweetalert2.min.css"' %}">
    <link rel="stylesheet" href="{% static 'star_admin/vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'star_admin/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'star_admin/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'star_admin/vendors/typicons/typicons.css' %}">
    <link rel="stylesheet" href="{% static 'star_admin/vendors/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'star_admin/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'star_admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="{% static 'star_admin/js/select.dataTables.min.css' %}">
  <link rel="stylesheet" href="{% static 'star_admin/css/vertical-layout-light/style.css' %}">
  
</head>
<body>
	<header>
      <!-- Start Menu -->  
        <div class="Menu-Left">
          <nav>
            <ul>
                <li class="close-btn"><a id="close-button"><i class="ti-close close-button"></i></a></li>
                <div class="menu-design">
                    <li><a href="#"><i class="ti-list"></i> Danh Sách Đơn Hàng Chưa Hoàn Thành</a></li>
                    <li><a href="#"><i class="ti-shine"></i> Quản Lý Ca</a></li>
                    <li><a href="#"><i class="ti-list-ol"></i> Danh Sách Đơn Hàng Cần Phục Vụ</a></li>
                    <li><a href="/logout-pos/"><i class="ti-power-off"></i> Đăng Xuất</a></li>
                </div>
            </ul>
        </nav>
        <div class="menu-toggle" id="menu-toggle">
            <span></span>
            <span></span>
            <span></span>        
        </div>
        </div>       
        <!-- End Menu -->  
       <div class="btn-menu">
        {% comment %} {% if request.session.FullName %} 
          <p>{{ request.session.User_Info.FullName}}</p>
        {% else  %} 
          <p>aaaaaaaaaaa</p>
        {% endif %} {% endcomment %}
          {% comment %} <button type="button" class="btn btn-primary btn-fw btn-menu-function" id="btn-dine-in"><i class="ti-user"></i>Thành viên</button> {% endcomment %}
          <button type="button" class="btn btn-success btn-fw btn-menu-function" id="btn-info-list-order"><i class="ti-list"></i>ĐƠN HÀNG</button>
          <button type="button" class="btn btn-success btn-fw btn-menu-function" id="btn-info-customer"><i class="ti-agenda"></i>THÀNH VIÊN</button>
          {% comment %} <button type="button" class="btn btn-success btn-fw btn-menu-function" id="btn-info-customer"><i class="ti-agenda"></i>THÀNH VIÊN 1</button> {% endcomment %}
        </div>
        <div class="user-menu">
          <div class="user-menu-avatar">
            {% if request.session.User_Info.ImageUrl %}
              <img class="user-img" id="user-img" src="../Asset/img/{{request.session.User_Info.ImageUrl}}" alt="">
            {% else %}
              <p class="user-img">{{ request.session.User_Info.FullName.0}}</p>
            {% endif %}
          </div>
          <div class="user-menu-info">
            <p class="user-fullname">{{ request.session.User_Info.FullName }}</p>
            <p class="user-position">{{ request.session.User_Info.Group_User }}</p>
          </div>
        </div>
        <!-- clock time-->  
        <div class="clock">
          <div class="date"></div>
          <div class="time"></div>
        </div>
        <!-- clock time -->  

    </header>
	<section>
        <div class="left-food">
          <div class="categories">
            {% comment %} <h2>Danh mục món ăn</h2> {% endcomment %}
            <ul id="category-list">
              <li id="random-border" class="border-radius" value="Tất cả"><i class="fi-tr-hamburger-soda"></i><a type="button">Tất cả</a></li>
              {% for Group in Groups %}
                <li id="random-border" class="border-radius" value="{{ Group.MaterialGroupID }}">
                    {% if Group.MaterialGroupIcon %}
                        <i class="{{ Group.MaterialGroupIcon }}"></i>
                    {% else %}
                        <i class="fi-tr-hamburger-soda"></i>
                    {% endif %}
                    <a type="button">{{ Group.MaterialGroupName }}</a>
                </li>
              {% endfor %}
              {% comment %} <li id="random-border" class="border-radius" value="1"><i class="ti-bookmark-alt"></i><a type="button">Thức ăn nhanh</a></li>
              <li id="random-border" class="border-radius" value="2"><i class="ti-bookmark-alt"></i><a type="button">Món Chay</a></li>
              <li id="random-border" class="border-radius" value="3"><i class="ti-bookmark-alt"></i><a type="button">Món Mặn</a></li>
              <li id="random-border" class="border-radius" value="4"><i class="ti-bookmark-alt"></i><a type="button">Hương Vị Miền Tây</a></li>
              <li id="random-border" class="border-radius" value="5"><i class="ti-bookmark-alt"></i><a type="button">Tráng Miệng</a></li>
              <li id="random-border" class="border-radius" value="6"><i class="ti-bookmark-alt"></i><a type="button">Món Thêm</a></li> {% endcomment %}
            </ul>
          </div>
          <div class="menu-food">
            <div class="search-data">
                <i class="ti-search"></i>
                <input type="text" class="form-control" id="SearchMaterial" name="SearchMaterial"   placeholder="Material Name">
            </div>
            
            {% comment %} <h2>Danh sách món ăn</h2> {% endcomment %}
            <ul id="food-list">
               <!-- Add more food items here -->
               {% for Material in Materials %}
                {% comment %} <li >
                  <img class="food-img" id="food-img" src="../static/Asset/img-product/{{Materials.MaterialID.MaterialImage}}" alt="{{Materials.MaterialName}}">
                  <div class="food-info">
                    <h3 id="food-name" class="food-name" value="{{Materials.MaterialName}}">{{Materials.MaterialName}}</h3>
                    <p  id="food-price" class="food-price" value="15000">{{Materials.MaterialID.PriceMaterial.PriceAmount}}đ</p>
                    <p  id="food-group" class="food-group" value="{{Materials.MaterialID.MaterialGroupID}}1"></p>
                    <button type="button" id="add-food" class="add-food"><i class="ti-plus"></i></button>
                  </div>
                </li> {% endcomment %}
                {% if Material.MaterialID.pricematerial_set.first.PriceAmount >= 0%}
                <li >
                  <img class="food-img" id="food-img" src="../static/Asset/img-product/{{Material.MaterialID.MaterialImage}}" alt="{{Material.MaterialName}}">
                  <div class="food-info">
                    <h3 id="food-name" class="food-name" value="{{Material.MaterialName}}">{{Material.MaterialName}}</h3>
                    <p  id="food-price" class="food-price" value="{{Material.MaterialID.pricematerial_set.first.PriceAmount}}">{{Material.MaterialID.pricematerial_set.first.PriceAmount | intcomma}}đ</p>
                    <p  id="food-group" class="food-group" value="{{Material.MaterialID.MaterialGroupID.MaterialGroupID}}"></p>
                    <button type="button" id="add-food" class="add-food"><i class="ti-plus"></i></button>
                  </div>
                </li>
                {% endif%}
              
                {% endfor %}
              <!-- Add more food items here -->            
            </ul>
          </div>
          
        </div>
        <div class="right-food">
          {% comment %} <h2>Danh sách các món ăn đã chọn</h2> {% endcomment %}
          <ul id="selected-food-list" data-foods="[]">
          </ul>
          <div class="order-details">
            <div class="header header-invoice">
              <i class="ti-receipt font-size"></i><h1 class="font-size"> CHI TIẾT ĐƠN HÀNG</h1>
            </div>
            <div class="content">
              {% comment %} <div class="order-info">
                <div class="order-time">
                  <span>Ngày đặt hàng: 27/04/2023</span>              
                </div>
                <div class="order-time">
                  <span>Giờ đặt hàng: 14:30</span>               
                </div>
                <div class="order-time">
                  <span>Nhân viên thu ngân: Nguyễn Thị A</span>              
                </div> 
              </div>{% endcomment %}
             
               <!-- order type -->
              <div class="order-type">
                <button type="button" class="btn btn-primary btn-fw btn-order-type" id="btn-dine-in" data-channel="1"><i class="ti-alarm-clock"></i>Ăn Tại Bàn</button>
                <button type="button" class="btn btn-success btn-fw btn-order-type active" id="btn-take-away" data-channel="2"><i class="ti-bag"></i>Mang Đi</button>
                <button type="button" class="btn btn-warning btn-fw btn-order-type" id="btn-delivery" data-channel="6"><i class="ti-truck"></i>Giao Hàng</button>
              </div>
               <!-- order type -->

               <!-- order information -->
               {% comment %} <hr class="hr-invoice"> {% endcomment %}
               <div class="order-information">
                <div class="order-information-customer">
                  <div class="order-information-title">
                    <img src="{% static 'Asset/img/banner-inform.png' %}" alt="ribbon-information" class="ribbon-information">
                    <h4 for="information-label">THÔNG TIN KHÁCH HÀNG</h4>
                  </div>
                  <div class="information-customer-system">                  
                    <div class="information-customer-CustID">
                      <p class="custID"><i class="ti-info"></i> Mã KH: </p>
                      <p class="custID-value">1000000001</p>
                    </div>
                    <div class="information-customer-CustType">
                      <p class="custType"><i class="ti-id-badge"></i> Loại KH: </p>
                      <p class="custType-value"></p>
                    </div>
                  </div>
                  <div class="information-customer-name-birthday">
                    <div class="information-customer-name">
                      <p class="custName"><i class="ti-user"></i> Tên KH: </p>
                      <p class="custName-value">Khách Hàng Vãng Lai</p>
                    </div>
                    <div class="information-customer-birthday">
                      <p class="custBirth"><i class="ti-calendar"></i> Ngày Sinh: </p>
                      <p class="custBirth-value"></p>
                    </div>
                  </div>                 
                  <div class="information-customer-phone-email">
                    <div class="information-customer-phone">
                      <p class="custPhone"><i class="ti-mobile"></i> Điện Thoại:</p>
                      <p class="custPhone-value"></p>
                    </div>
                    <div class="information-customer-email">
                      <p class="custEmail"><i class="ti-email"></i> Email: </p>
                      <p class="custEmail-value"></p>
                    </div>
                  </div>
                  <div class="information-customer-address">
                    <div class="information-customer-add">
                      <p class="custAdd"><i class="ti-home"></i> Địa Chỉ: </p>
                      <p class="custAdd-value"></p>
                    </div>
                  </div>
                  <div class="deliver-information hidden-info">
                    <hr class="hr-invoice">
                    <div class="information-customer-name-birthday">
                      <div class="information-customer-name">
                        <p class="custName"><i class="ti-user"></i> Người Nhận: </p>
                        <p class="custName-value-deli">Khách Hàng Vãng Lai</p>
                      </div>
                      <div class="information-customer-phone">
                        <p class="custPhone"><i class="ti-mobile"></i> ĐT Người Nhận:</p>
                        <p class="custPhone-value-deli">0909009718</p>
                      </div>
                    </div>
                    <div class="information-customer-delivery">
                      <div class="information-customer-deli">
                        <p class="custDeli"><i class="icon-location-pin"></i> Địa Chỉ Giao Hàng: </p>
                        <p class="custDeli-value-deli"></p>
                      </div>
                    </div>
                  </div>                 
                  <hr class="hr-invoice">
                  <div class="information-customer-table">
                    <div class="information-table-number">
                      <p class="custTable"><i class="icon-calendar"></i> Số Bàn:</p>
                      <p class="custTable-value"> Bàn 1</p>
                    </div>
                    <div class="information-table-person">
                      <p class="custPerson"><i class="icon-user-following"></i> Số Người: </p>
                      {% comment %} <p class="custPerson-value"> 5</p> {% endcomment %}
                      <select class="db-person">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select>
                    </div>
                    <div class="information-shift">
                      <p class="custShift"><i class="icon-login"></i> Ca Làm Việc: </p>
                      <p class="custShift-value"> Ca 1</p>
                    </div>
                  </div>
                </div>
                <hr class="hr-invoice">
                {% comment %} <div class="order-information-promotion hidden-promotion"> {% endcomment %}
                <div class="order-information-promotion">  
                  <div class="order-information-promotion-member">
                     {% comment %} <div class="order-information-promotion-member-item" value="3">
                      <p>Chương trình Khuyến mãi Thành Viên Vàng - Giảm 10%</p>
                      <button type="button" class="del-promotion-member"><i class="ti-close del-promotion-member-li"></i></button>
                    </div> {% endcomment %}
                  </div>
                  <div class="order-information-promotion-items">
                    {% comment %} <div class="order-information-promotion-item">
                      <p>Chương trình Khuyến mãi Khách hàng thân thiết - Giảm 20%</p>
                      <button type="button" class="del-promotion"><i class="ti-close"></i></button>
                    </div>   {% endcomment %}
                  </div>       
                </div>
              </div>
               <!-- order information -->  

              <!-- Content order -->
              <hr class="hr-invoice hidden-promotion hr-invoice-promotion">
              <div class="order-items" id="order-items" data-food="[]">
                <p class="text-invoice">Chưa có sản phẩm</p>
              </div>    
                <!-- Content order -->
              
               <!-- The modal NOTE -->
                <div id="note-modal" class="modal modal-note">
                  <div class="modal-content">
                    <div class="div-title">
                      <span class="close"><i class="ti-close"></i></span>
                      <h2><i class="icon-note"></i> GHI CHÚ</h2>
                    </div>             
                      <textarea id="note-input"></textarea>
                      <div class="display-button">
                        {% comment %} <button type="button" class="btn btn-outline-danger btn-fw" id="save-note-btn"><i class="icon-note"><i/> Lưu Ghi Chú</button> {% endcomment %}
                        <button type="button" class="btn btn-outline-danger btn-fw" id="save-note-btn"><i class="ti-save"></i> Lưu Ghi Chú</button>
                      </div>
                  </div>
                </div>
              <!-- The modal NOTE -->

               <!-- The modal Dine-in -->
               <div id="Dine-in-modal" class="modal modal-Dine-in">
                <div class="modal-content">
                  <div class="div-title">
                    <span class="close close-Dine"><i class="ti-close"></i></span>
                    <h2><i class="icon-screen-tablet"></i> DANH SÁCH BÀN</h2>
                  </div>      
                  <input id="table-input" placeholder="Tên Bàn"></input>       
                    <div class="table-container">
                     <div class="list-group">
                      <div class="des-table">
                        <div class="table-all">
                          <p class="table-all-number">{{table_all}}</p>
                          <p class="table-all-title">Tổng Số Bàn</p>
                        </div>
                        <div class="table-active">
                          <p class="table-active-number">{{table_guests}}</p>
                          <p class="table-active-title">Bàn Có Khách</p>
                        </div>
                        <div class="table-empty">
                          <p class="table-empty-number">{{table_without_guests}}</p>
                          <p class="table-empty-title">Bàn Trống</p>
                        </div>
                      </div>
                      <div class="list-group-table">
                        <div class="table-group" data-group="0">
                          <p class="table-group-name">Tất Cả</p>
                      </div>
                        <div class="table-group" data-group="1">
                            <p class="table-group-name">Tầng Trệt</p>
                        </div>
                        <div class="table-group" data-group="2">
                          <p class="table-group-name">Tầng 1</p>
                        </div>
                        <div class="table-group" data-group="3">
                          <p class="table-group-name">Tầng 2</p>
                        </div>
                          <div class="table-group" data-group="4">
                            <p class="table-group-name">Balcony</p>
                        </div>
                          <div class="table-group" data-group="5">
                            <p class="table-group-name">Sân Thượng</p>
                        </div>                       
                      </div>
                     </div>
                     <div class="list-table">
                        {% comment %} <div class="list-table-item list-table-item-active">
                          <img src="{% static 'Asset/img/Small-table.png' %}" alt="list-table-img" class="list-table-img">
                          <div class="top-table">
                            <p class="count-person"><i class="ti-user"></i> 3</p>
                            <p class="list-menu-table"><i class="ti-list-ol"></i></p>
                          </div>
                          <p class="list-table-title" value='1'>Bàn 1</p>
                          <p class="list-table-cashier">Nguyễn Văn A</p>
                        </div> {% endcomment %}

                        <!-- Table Order -->
                        {% for tableOrder in tableOrders %}
                        {% comment %} <div class="list-table-item {% if tableOrder.SaleOrderID %}list-table-item-active{% else %}list-table-item-none-active{% endif %}"> {% endcomment %}
                        <div data-group="{{tableOrder.TableOrderID}}" class="list-table-item {% if tableOrder.SaleOrderID %}list-table-item-active{% else %}list-table-item-none-active{% endif %}">
                          <div class="top-table">                           
                            {% if tableOrder.SaleOrderID %}
                              <p class="count-person"><i class="ti-user"></i> {{tableOrder.TablePerson}}</p>
                              <p class="list-menu-table" data-id="{{tableOrder.SaleOrderID}}"><i class="ti-list-ol"></i></p>
                            {% endif %}
                          </div>
                          <p class="list-table-title" value="{{tableOrder.TableOrderID}}">{{tableOrder.TableOrderName}}</p>
                          <p class="list-table-cashier">{{tableOrder.FullName}}</p>

                           <!-- panel -->
                          {% if tableOrder.Items %}
                          <div class="panel panel_table_order hidden-table">
                            <!-- Các trường thông tin trong panel -->
                            <div class="panel-header">
                              <p>#{{tableOrder.SaleOrderID}}</p>
                            </div>
                            <div class="panel-content">
                              <div class="panel-items">
                                
                                  {% for Item in tableOrder.Items %}
                                  <div class="panel-item">
                                    <p class="panel-item-name">{{Item.MaterialName}}</p>
                                    <p class="panel-item-quantity">{{Item.SaleQuantity}}</p>
                                  </div>
                                  {% endfor %}
                                
                                {% comment %} <div class="panel-item">
                                  <p class="panel-item-name">Bánh Flan</p>
                                  <p class="panel-item-quantity">3</p>
                               </div> {% endcomment %}
                              </div>
                              <hr class="hr-panel">
                              <div class="panel-footer">
                                <p class="panel-footer-title"> THANH TOÁN: </p>
                                <p class="panel-footer-price"> {{tableOrder.Amount | intcomma}}đ</p>
                              </div>
                              <div class="panel-function"> 
                                <button type="button" class="btn btn-primary btn-fw" id="btn-panel-payment"><i class="ti-credit-card"></i></button>
                                <button type="button" class="btn btn-danger btn-fw" id="btn-panel-transfer"><i class="ti-control-shuffle"></i></button>
                              </div>
                            </div>
                            <!-- ... -->
                          </div>
                          <!-- panel -->
                          {% endif %}

                        </div>
                        {% endfor %}
                        <!-- Table Order -->

                     </div>
                    </div>
                </div>
              </div>
            <!-- The modal Dine-in -->

               <!-- The modal PROMOTION-->
               <div id="promotion-modal" class="modal modal-promotion">
                <div class="modal-content">
                  <div class="div-title">
                    <span class="close-promotion"><i class="ti-close"></i></span>
                    <h2><i class="ti-gift"></i> THÔNG TIN KHUYẾN MÃI</h2>
                  </div>             
                    <input id="promotion-input" placeholder="Tên Chương Trình Khuyến Mãi"></input>
                    <div class="promotion-list">
                      {% for promotion in promotions %}
                      <div class="promotion-item">
                        <img src="{% static 'Asset/img/Ticket-BG-New.png' %}" alt="promotion ticket" class="ticket">
                        <div class="promotion-name" data-promotion="{{promotion.PromotionID}}">{{promotion.PromotionName}}</div>
                        <button type="button" class="btn btn-outline-danger btn-fw" id="save-promotion-btn">Áp Dụng</button>
                      </div>
                      {% endfor  %}
                      {% comment %} <div class="promotion-item">
                        <img src="{% static 'Asset/img/Ticket-BG-New.png' %}" alt="promotion ticket" class="ticket">
                        <div class="promotion-name" data-promotion="1">Giảm giá 10% cho tất cả khách hàng</div>
                        <button type="button" class="btn btn-outline-danger btn-fw" id="save-promotion-btn">Áp Dụng</button>
                      </div> {% endcomment %}
                      
                    </div>                                     
                  </div>
                </div>
              </div>
            <!-- The modal -->
            </div>

            <!-- The modal CUSTOMER -->
            <div id="customer-modal" class="modal modal-customer">
              <div class="modal-content">
                <div class="div-title">
                  <span class="close close-customer"><i class="ti-close"></i></span>
                  <h2><i class="icon-note"></i> DANH SÁCH KHÁCH HÀNG</h2>
                </div> 
                  <div class="input-btn-customer">
                    <input class="btn-customer" id="custID-input" placeholder="Mã Khách Hàng"></input>
                    <input class="btn-customer" id="custName-input" placeholder="Tên Khách Hàng"></input>
                    <input class="btn-customer" id="custPhone-input" placeholder="Số Điện Thoại Khách Hàng"></input>
                  </div>  
                  <!-- List CUSTOMER -->  
                  <div class="display-customer-items">                   
                    {% comment %} <div class="display-customer-item">
                      <div class="display-customer-panel cust-female">
                        <p class="cust-ID"><i class="ti-id-badge"></i> 1000000002</p>
                      </div>
                      <div class="display-customer-content">
                        <div class="display-customer-content-left">
                          <img class="cust-img" id="cust-img" src="{% static 'Asset/img/icon-female.jpg' %}">
                        </div>
                        <div class="display-customer-content-right">
                          <p class="cust-Name"><i class="ti-user"></i> Phạm Thanh Thúy</p>
                          <p class="cust-birthday"><i class="ti-calendar"></i> 16/10/1990</p>
                          <p class="cust-Phone"><i class="ti-mobile"></i> 0909009718</p>
                          <p class="cust-Range"><i class="icon-badge"></i> Thành Viên Bạc</p>
                          <p class="cust-Point"><i class="icon-wallet"></i> 1.000</p>
                        </div>
                      </div>
                    </div> {% endcomment %}
                   
                    {% comment %} Loop Customer {% endcomment %}
                    {% for customer in Customers %}
                      <div class="display-customer-item">
                        <div class="display-customer-panel {% if customer.CustomerGender == 'Nam' %}cust-male{% else %}cust-female{% endif %}">
                          <p class="cust-ID"><i class="ti-id-badge"></i> {{ customer.CustomerID}}</p>
                        </div>
                        <div class="display-customer-content">
                          <div class="display-customer-content-left">
                            {% if customer.CustomerImage %}
                              {% comment %} <img class="cust-img" id="cust-img" src="{% static 'Asset/img/{{customer.CustomerImage}}' %}"> {% endcomment %}
                              <img class="cust-img" id="cust-img" src="../static/Asset/img/{{customer.CustomerImage}}">
                            {% else %}
                                {% if customer.CustomerGender == 'Nam' %}
                                  <img class="cust-img" id="cust-img" src="{% static 'Asset/img/icon-male.jpg' %}">
                                {% else %}
                                  <img class="cust-img" id="cust-img" src="{% static 'Asset/img/icon-female.jpg' %}">
                                {% endif %}
                            {% endif %}
                          </div>
                          <div class="display-customer-content-right">
                            <p class="cust-Name"><i class="ti-user"></i>{{ customer.CustomerName}}</p>
                            <p class="cust-birthday"><i class="ti-calendar"></i> {{ customer.CustomerBirthday|date:"d/m/Y"}}</p>
                            <p class="cust-Phone"><i class="ti-mobile"></i> {{ customer.CustomerPhone}}</p>
                            <p class="cust-Range"><i class="icon-badge"></i> {{ customer.CustomerTypeID.CustomerTypeName}}</p>
                            {% comment %} <p class="cust-Point"><i class="icon-wallet"></i>{% if customer.CustomerPoint != '0' %} {{customer.CustomerPoint}} {% else %}0{% endif %}</p> {% endcomment %}
                            <p class="cust-Point" value="{{ customer.CustomerPoint }}"><i class="icon-wallet"></i>{{ customer.CustomerPoint | intcomma }}</p>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                    {% comment %} Loop Customer {% endcomment %}
                  </div>       
                  <!-- List CUSTOMER -->
              </div>
            </div>
          <!-- The modal CUSTOMER -->

          <!-- The modal DELIVERY-->
          <div id="delivery-modal" class="modal modal-delivery">
            <div class="modal-content">
              <div class="div-title">
                <span class="close-delivery"><i class="ti-close"></i></span>
                <h2><i class="ti-truck"></i> THÔNG TIN ĐẶT HÀNG</h2>
              </div>                            
              <div class="delivery-info">
                <div class="delivery-info-top">
                  <div class="delivery-name-phone">
                    <div class="delivery-input">
                      <p><i class="ti-user"></i> Tên Khách Hàng: </p>
                      <input id="delivery-input-name" placeholder=""></input>
                    </div>
                    <div class="delivery-input">
                      <p><i class="ti-mobile"></i> Số ĐT Khách Hàng: </p>
                      <input id="delivery-input-phone" placeholder=""></input>
                    </div>
                  </div>               
                  <div class="delivery-input">
                    <p><i class="ti-home"></i> Địa Chỉ: </p>
                    <input id="delivery-input-address" placeholder=""></input>
                  </div>
                  <label class="form-check-label delivery-input-check">
                    <input class="checkbox delivery-input-checkbox" type="checkbox">
                    Thông Tin Người Nhận Giống Thông Tin Khách Hàng.
                  <i class="input-helper"></i></label>
                </div>
                <hr class="hr-delivery">
                <div class="delivery-info-bottom">
                  <p class="delivery-title"><i class="ti-info ti-info-custom"></i>Thông Tin Người Nhận Hàng</p>
                  <div class="delivery-name-phone-deli">
                    <div class="delivery-input-deli">
                      <p><i class="ti-user"></i> Tên Người Nhận <b class="delivery-input-require">*</b> : </p>
                      <input id="delivery-input-name-deli" placeholder="" required> </input>
                    </div>
                    <div class="delivery-input-deli">
                      <p><i class="ti-mobile"></i> Số ĐT Người Nhận <b class="delivery-input-require">*</b> : </p>
                      <input id="delivery-input-phone-deli" placeholder="" required></input>
                    </div>
                  </div>               
                  <div class="delivery-input-deli">
                    <p><i class="icon-location-pin"></i> Địa Chỉ Giao Hàng <b class="delivery-input-require">*</b> : </p> 
                    <input id="delivery-input-address-deli" placeholder="" required></input>
                  </div>
                </div>
                <div class="delivery-function">
                  <button type="button" class="btn btn-outline-danger btn-fw" id="save-info-btn"><i class="ti-save"></i> LƯU THÔNG TIN</button>
                </div>
              </div>                                                   
            </div>
          </div>
          <!-- The modal DELIVERY-->

           <!-- PANEL LIST ALL ORDER START-->
            <div class="panel-all-order hidden-info">
              <div class="panel-all-order-top">
                <button class="panel-all-order-back"><i class="ti-angle-left ti-angle-left-custom"></i></button>
                <p class="panel-all-order-title">DANH SÁCH ĐƠN HÀNG</p>
                <div class="panel-search">
                  <input type="text" id="search-input" class="hidden-search" placeholder="Nhập từ khóa tìm kiếm">
                  <button class="panel-all-order-search"><i class="ti-search ti-search-custom"></i></button>
                </div>
              </div>
              <div class="panel-all-order-bottom">
                <div class="panel-all-order-filter"></div>
                <div class="panel-all-order-list">
                   <!--items-->
                  <div class="panel-order-list-item">
                      <div class="order-item-title">
                        <p>14:00 - 25/05</p>
                        <p class="order-item-title-OrderID">#123456781</p>
                      </div>
                      <div class="order-item-body">
                        <div class="item-list-order">
                          <p class="item-list-order-name">Cà phê đen</p>
                          <p class="item-list-order-quantity">3</p>
                        </div>
                        <div class="item-list-order">
                          <p class="item-list-order-name">Cà phê đá</p>
                          <p class="item-list-order-quantity">4</p>
                        </div>
                        <div class="item-list-order">
                          <p class="item-list-order-name">Cà phê sữa</p>
                          <p class="item-list-order-quantity">5</p>
                        </div>
                        <div class="item-list-order">
                          <p class="item-list-order-name">Cà phê sữa</p>
                          <p class="item-list-order-quantity">5</p>
                        </div>
                      </div>
                      <hr class="hr-list-item">
                      <div class="order-item-footer">
                        <div class="order-item-footer-detail">
                          <button type="button" class="btn btn-success btn-payment-method">Tiền Mặt</button>
                          <p class="order-item-payement">400,000đ</p>
                        </div>
                        <div class="order-item-footer-function">
                          <button type="button" class="btn btn-danger btn-fw btn-function-cancel btn-function-cancel-custom" id=""><i class="ti-trash"></i>HỦY ĐƠN</button>
                          <button type="button" class="btn btn-success btn-fw btn-function-payment btn-function-payment-custom button-disabled" id=""><i class="ti-shopping-cart-full"></i>THANH TOÁN</button>                       
                        </div>
                      </div>
                      <button id="show-more-button" class="show-more-button"><i class="ti-angle-double-down"></i></button>
                  </div>
                   <!--items-->
                   <div class="panel-order-list-item">
                    <div class="order-item-title">
                      <p>14:00 - 25/05</p>
                      <p class="order-item-title-OrderID">#123456782</p>
                    </div>
                    <div class="order-item-body">
                      <div class="item-list-order">
                        <p class="item-list-order-name">Cà phê đen</p>
                        <p class="item-list-order-quantity">3</p>
                      </div>
                      <div class="item-list-order">
                        <p class="item-list-order-name">Cà phê đá</p>
                        <p class="item-list-order-quantity">4</p>
                      </div>
                      <div class="item-list-order">
                        <p class="item-list-order-name">Cà phê sữa</p>
                        <p class="item-list-order-quantity">5</p>
                      </div>
                      <div class="item-list-order">
                        <p class="item-list-order-name">Cà phê sữa</p>
                        <p class="item-list-order-quantity">5</p>
                      </div>
                      <div class="item-list-order">
                        <p class="item-list-order-name">Cà phê sữa</p>
                        <p class="item-list-order-quantity">5</p>
                      </div>
                    </div>
                    <hr class="hr-list-item">
                    <div class="order-item-footer">
                      <div class="order-item-footer-detail">
                        <button type="button" class="btn btn-warning btn-payment-method">Chưa TT</button>
                        <p class="order-item-payement ">500,000đ</p>
                      </div>
                      <div class="order-item-footer-function">
                        <button type="button" class="btn btn-danger btn-fw btn-function-cancel btn-function-cancel-custom" id=""><i class="ti-trash"></i>HỦY ĐƠN</button>
                        <button type="button" class="btn btn-success btn-fw btn-function-payment btn-function-payment-custom" id=""><i class="ti-shopping-cart-full"></i>THANH TOÁN</button>                       
                      </div>
                    </div>
                    <button id="show-more-button" class="show-more-button"><i class="ti-angle-double-down"></i></button>
                  </div>
                  <div class="panel-order-list-item">
                    <div class="order-item-title">
                      <p>14:00 - 25/05</p>
                      <p class="order-item-title-OrderID">#123456783</p>
                    </div>
                    <div class="order-item-body">
                      <div class="item-list-order">
                        <p class="item-list-order-name">Cà phê đen</p>
                        <p class="item-list-order-quantity">3</p>
                      </div>
                      <div class="item-list-order">
                        <p class="item-list-order-name">Cà phê đá</p>
                        <p class="item-list-order-quantity">4</p>
                      </div>
                      <div class="item-list-order">
                        <p class="item-list-order-name">Cà phê sữa</p>
                        <p class="item-list-order-quantity">5</p>
                      </div>
                      <div class="item-list-order">
                        <p class="item-list-order-name">Cà phê sữa</p>
                        <p class="item-list-order-quantity">5</p>
                      </div>
                      <div class="item-list-order">
                        <p class="item-list-order-name">Cà phê sữa</p>
                        <p class="item-list-order-quantity">5</p>
                      </div>
                    </div>
                    <hr class="hr-list-item">
                    <div class="order-item-footer">
                      <div class="order-item-footer-detail">
                        {% comment %} <button type="button" class="btn btn-success btn-payment-method">Tiền Mặt</button> {% endcomment %}
                        <button type="button" class="btn btn-danger btn-payment-method">Hủy Đơn</button>
                        <p class="order-item-payement">500,000đ</p>
                      </div>
                      <div class="order-item-footer-function">
                        <button type="button" class="btn btn-danger btn-fw btn-function-cancel btn-function-cancel-custom button-disabled" id=""><i class="ti-trash"></i>HỦY ĐƠN</button>
                        <button type="button" class="btn btn-success btn-fw btn-function-payment btn-function-payment-custom button-disabled" id=""><i class="ti-shopping-cart-full"></i>THANH TOÁN</button>
                      </div>
                    </div>
                    <button id="show-more-button" class="show-more-button"><i class="ti-angle-double-down"></i></button>
                </div>
                </div>
              </div>
            </div>
            <!-- PANEL LIST ALL ORDER END-->
  
            <div class="footer">
                <div class="total-tax" id="total-tax">
                  <span class="span-text">Thuế VAT:</span>
                  {% comment %} <p >65.000 đ</p> {% endcomment %}
                  <div id="total-tax-price" class="total-tax-price span-value" value="10">10%</div>
                </div>
                <div class="total total-amount" id="total-amount">
                  <span class="span-text">Tổng Tiền:</span>
                  <div id="total-amount-price" class="total-amount-price span-value" value="0">0 đ</div>
                </div>
                <div class="discount" id="discount">
                  <span class="span-text">Giảm Giá:</span>
                  <div class="span-value discount-value" value="0">0 đ</div>
                </div>
                <div class="payment-method">
                  <span class="span-text">Phương Thức Thanh Toán:</span>
                  <p class="span-value">Tiền mặt</p>
                </div>
                <hr class="hr-invoice">
                <div class="payment" id="payment">
                  <span class="span-text payment-size">Thanh Toán:</span>
                  <div class="span-value payment-value payment-size" value="0">0 đ</div>
                </div>                          
            </div> 

            <div class="order-function">
              <div class="btn-promotion">
                <button type="button" class="btn btn-outline-danger btn-fw btn-promotion-button" id=""><i class="ti-gift"></i>CHƯƠNG TRÌNH KHUYẾN MÃI</button>
              </div>
              <div class="btn-function">
                <button type="button" class="btn btn-danger btn-fw btn-function-cancel" id=""><i class="ti-save-alt"></i>LƯU TẠM</button>
                {% comment %} <button type="button" class="btn btn-danger btn-fw btn-function-cancel" id=""><i class="ti-trash"></i>LƯU TẠM</button> {% endcomment %}
                <button type="button" class="btn btn-success btn-fw btn-function-payment" id=""><i class="ti-shopping-cart-full"></i>THANH TOÁN</button>
              </div>
            </div>

          </div>       
          </div>               
        </div>
      </section>

      

    {% comment %} Javascript {% endcomment %}
    
    <script  type="text/javascript" src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/Pos-login.js' %}"></script>
    <script src="{% static 'Sweetalert2/Js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/tinycolor.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.twbsPagination.min.js' %}"></script>

    <!-- sweetalert2 -->
    <script src="{% static 'Sweetalert2/Js/sweetalert2.all.min.js' %}"></script>
    <!-- plugins:js -->
    <script src="{% static 'star_admin/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'star_admin/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'star_admin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'star_admin/vendors/progressbar.js/progressbar.min.js' %}"></script>
  
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'star_admin/js/off-canvas.js' %}"></script>
    <script src="{% static 'star_admin/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'star_admin/js/template.js' %}"></script>
    <script src="{% static 'star_admin/js/settings.js' %}"></script>
    <script src="{% static 'star_admin/js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="{% static 'star_admin/js/jquery.cookie.js' %}" type="text/javascript"></script>
    <script src="{% static 'star_admin/js/dashboard.js' %}"></script>
    <script src="{% static 'star_admin/js/Chart.roundedBarCharts.js' %}"></script>
    <script src="{% static 'js/select2.js' %}"></script>
    {% comment %} Javascript {% endcomment %}
    <script  type="text/javascript">
        //Menu  toggle
        const menuToggle = document.querySelector('.menu-toggle');
        const nav = document.querySelector('nav');
        const closeButton = document.getElementById('close-button');

        menuToggle.addEventListener('click', () => {
            nav.classList.toggle('active');       
          });
        
        closeButton.addEventListener('click', () => {
          nav.classList.remove('active');
        });

        $(document).ready(function() {

            var colors = ['#EEEEEE','#DDDDDD','#CCCCCC','#BBBBBB','#AAAAAA','#999999',
                            '#888888','#777777','#666666','#555555','#444444','#333333',
                            '#222222','#111111','#000000','#FF0000','#EE0000','#DD0000',
                            '#CC0000','#BB0000','#AA0000','#990000','#880000','#770000',
                            '#660000','#550000','#440000','#330000','#220000','#110000',
                            '#FFFFFF','#FFFFCC','#FFFF99','#FFFF66','#FFFF33','#FFFF00',
                            '#CCFFFF','#CCFFCC','#CCFF99','#CCFF66','#CCFF33','#CCFF00',
                            '#99FFFF','#99FFCC','#99FF99','#99FF66','#99FF33','#99FF00',
                            '#66FFFF','#66FFCC','#66FF99','#66FF66','#66FF33','#66FF00',
                            '#33FFFF','#33FFCC','#33FF99','#33FF66','#33FF33','#33FF00',
                            '#00FFFF','#00FFCC','#00FF99','#00FF66','#00FF33','#00FF00',
                            '#FFCCFF','#FFCCCC','#FFCC99','#FFCC66','#FFCC33','#FFCC00',
                            '#CCCCFF','#CCCCCC','#CCCC99','#CCCC66','#CCCC33','#CCCC00',
                            '#99CCFF','#99CCCC','#99CC99','#99CC66','#99CC33','#99CC00',
                            '#66CCFF','#66CCCC','#66CC99','#66CC66','#66CC33','#66CC00',
                            '#33CCFF','#33CCCC','#33CC99','#33CC66','#33CC33','#33CC00',
                            '#00CCFF','#00CCCC','#33CC66','#33CC33','#00CC99','#00CC66',
                            '#00CC33','#00CC00','#FF99FF','#FF99CC','#FF9999','#FF9966',
                            '#FF9933','#FF9900','#CC99FF','#CC99CC','#CC9999','#CC9966',
                            '#CC9933','#CC9900','#9999FF','#9999CC','#999999','#999966',
                            '#999933','#999900','#6699FF','#6699CC','#669999','#669966',
                            '#669933','#669900','#3399FF','#3399CC','#339999','#339966',
                            '#339933','#339900','#0099FF','#0099CC','#009999','#009966',
                            '#009933','#009900','#FF66FF','#FF66CC','#FF6699','#FF6666',
                            '#FF6633','#FF6600','#CC66FF','#CC66CC','#CC6699','#CC6666',
                            '#CC6633','#CC6600','#9966FF','#9966CC','#996699','#996666',
                            '#996633','#996600','#6666FF','#6666CC','#666699','#666666',
                            '#666633','#666600','#3366FF','#3366CC','#336699','#336666',
                            '#336633','#336600','#0066FF','#0066CC','#006699','#006666',
                            '#006633','#006600','#FF33FF','#FF33CC','#FF3399','#FF3366',
                            '#FF3333','#FF3300','#CC33FF','#CC33CC','#CC3399','#CC3366',
                            '#CC3333','#CC3300','#9933FF','#9933CC','#993399','#993366',
                            '#993333','#993300','#6633FF','#6633CC','#663399','#663366',
                            '#663333','#663300','#3333FF','#3333CC','#333399','#333366',
                            '#333333','#333300','#0033FF','#FF3333','#0033CC','#003399',
                            '#003366','#003333','#003300','#FF00FF','#FF00CC','#FF0099',
                            '#FF0066','#FF0033','#FF0000','#CC00FF','#CC00CC','#CC0099',
                            '#CC0066','#CC0033','#CC0000','#9900FF','#9900CC','#990099',
                            '#990066','#990033','#990000','#6600FF','#6600CC','#660099',
                            '#660066','#660033','#660000','#3300FF','#3300CC','#330099',
                            '#330066','#330033','#330000','#0000FF','#0000CC','#000099',
                            '#000066','#000033','#00FF00','#00EE00','#00DD00','#00CC00',
                            '#00BB00','#00AA00','#009900','#008800','#007700','#006600',
                            '#005500','#004400','#003300','#002200','#001100','#0000FF',
                            '#0000EE','#0000DD','#0000CC','#0000BB','#0000AA','#000099',
                            '#000088','#000077','#000055','#000044','#000022','#000011',]; 
          
            // Lặp lại cho tất cả các phần tử <li> trong danh sách
            $('#category-list li').each(function() {
              var random_color = colors[Math.floor(Math.random() * colors.length)]; // Lấy một màu ngẫu nhiên từ mảng colors
              $(this).css('background-color', random_color); // Thay đổi màu nền của phần tử hiện tại
            });
          }); 
    </script>
    
</body>
</html>


